<div id="modalabout" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5><%= i18n.t('about.title', { title: meta.app_title }) %></h5>
    <p><%= i18n.t('about.version', { version: meta.version, updated: meta.updated }) %></p>
    <p><%= content.app.text_info %></p>
    <p><%= content.app.text_acknowledge %></p>
    <p><%= content.app.text_feedback %></p>
    <ul>
      <li><a href="<%= content.app.feedback_url %>" target="_blank"><%= i18n.t('about.get_involved') %></a></li>
      <li><a href="<%= content.app.issue_url %>" target="_blank"><%= i18n.t('about.feedback') %></a></li>
      <li><a href="<%= content.app.repository_url %>" target="_blank"><%= i18n.t('about.github') %></a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat"><%= i18n.t('about.close') %></a>
  </div>
</div>