<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= i18n.t('app.title') %> (<%= i18n.t('error.error') %>)</title>
  <link rel="manifest" href="/public/manifest.json">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/error.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Service worker registration -->
  <%- include('service-worker') %>
</head>
<body>
  <div class="cover">
    <div class="container right-align">
      <h1 class="white-text"><%= i18n.t('app.title') %></h1>
      <p class="flow-text lime-text text-lighten-4"><%= i18n.t('error.something_wrong') %>:<br><%= message %></p>
      <p class="flow-text lime-text text-lighten-4"><a href="https://github.com/pbesteu/heritage-quick-app-web"><%= i18n.t('error.go_home') %></a></p>
    </div>  
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="public/js/materialize.min.js"></script>
  </body>
</html>
