<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= i18n.t('app.title') %></title>
  <link rel="icon" type="image/png" href="/public/favicon.ico">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/lib/materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="cover" id="implementations-page">
    <div class="container">
      <h1 class="white-text"><%= i18n.t('app.title') %></h1>
      <h3 class="lime-text text-lighten-1"><%= i18n.t('app.implementations') %></h3>
      <div class="collection">
        <% json.towns.forEach((town) => { %>
          <% town.lang.forEach((iso) => { %>
            <a class="collection-item" href="/town/<%= encodeURIComponent(iso) %>?url=<%= encodeURIComponent(town.source_url) %>">
              <%= town.name %> - <%= town.location %> - <%= i18n.t(`lang.${iso}`) %>
            </a>
          <% }) %>  
        <% }) %>
      </div>
      <p class="flow-text lime-text text-lighten-1">
        <%= i18n.t('app.missed') %>
        <a href='https://pbesteu.github.io/poi-quick-app/' class="lime lighten-1"><%= i18n.t('app.get_involved') %></a>
      </p>
    </div>  
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="/lib/materialize-css/dist/js/materialize.min.js"></script>
  </body>
</html>
