<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= meta.app_title %></title>
  <link rel="icon" type="image/png" href="/public/favicon.ico">
  <link rel="manifest" href="/public/manifest.json">
  <!-- Leaflet -->
  <link href="/public/maps/leaflet/leaflet.css" rel="stylesheet">
  <link href="/public/maps/leaflet-control/L.Control.Locate.min.css" rel="stylesheet">
  <script src="/public/maps/leaflet/leaflet.js" charset="utf-8"></script>
  <script src="/public/maps/leaflet-control/L.Control.Locate.min.js" charset="utf-8"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Service worker registration -->
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/public/pwabuilder-sw.js');
    }
 </script>    
</head>
<body>
  <div class="navbar-fixed"> 
    <nav class="nav-extended" style="background-color:<%= content.app.theme.brand %>">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><%= meta.app_title %></a>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-fixed-width tabs-transparent">
          <li class="tab"><a class="active" href="#cards"><i class="material-icons">photo_library</i><%= i18n.t('index.cards') %></a></li>
          <li class="tab"><a href="#map"><i class="material-icons">map</i><%= i18n.t('index.map') %></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Cards -->
  <div id="cards" class="col s12">
    <div class="container">
      <div class="section">
        <div class="row" id="card-list">
          <!-- The list of cards to be populated once we have the geolocation -->
        </div>
        <p class="center-align"><%= i18n.t('cards.end') %></p>
      </div>      
    </div>
  </div>
  <!-- end Cards -->

  <!-- Map -->
  <div id="map" class="col s12">
    <div id="osm"></div>
  </div>
  <!-- end Map -->
  
  <!-- Modal with details -->
  <%- include('modal/detail') %>  
  <!-- About Modal -->
  <%- include('modal/about', { content: content, meta: meta }) %>
  <!-- Init Modal -->
  <%- include('modal/init', { meta: meta }) %>
  <!-- Modal for quick app -->
  <%- include('modal/quickapp', { meta: meta }) %> 
  
  <%- include('footer') %>
  
  <!--  Scripts-->
  <script src="/public/js/jquery-2.1.1.min.js"></script>
  <script src="/public/js/materialize.min.js"></script>
  <script src="/public/js/geolib.js"></script>  
  <%- include('scripts', { pois: content.pois } ) %>
  <%- include('map', { pois: content.pois, color: 'red' }); %>
  
  </body>
</html>
