<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><% meta.app_title %></title>
  <link rel="icon" type="image/png" href="/public/favicon.ico">
  <!-- Leaflet -->
  <link href="/public/maps/leaflet/leaflet.css" rel="stylesheet">
  <link href="/public/maps/leaflet-control/L.Control.Locate.min.css" rel="stylesheet">
  <script src="/public/maps/leaflet/leaflet.js" charset="utf-8"></script>
  <script src="/public/maps/leaflet-control/L.Control.Locate.min.js" charset="utf-8"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed"> 
    <nav class="nav-extended" style="background-color:<%= content.app.theme.brand %>">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><%= meta.app_title %></a>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-fixed-width tabs-transparent">
          <li class="tab"><a class="active" href="#cards"><i class="material-icons">photo_library</i><%= i18n.t('index.cards') %></a></li>
          <li class="tab"><a href="#map"><i class="material-icons">map</i><%= i18n.t('index.map') %></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Cards -->
  <div id="cards" class="col s12">
    <div class="container">
      <div class="section">
        <div class="row">
          <% content.pois.forEach(function(poi) { %>
            <%- include('card', { poi: poi}) %>
          <% }); %>
        </div>
        <p class="center-align"><%= i18n.t('cards.end') %></p>
      </div>      
    </div>
  </div>
  <!-- end Cards -->
  <!-- Map -->
  <div id="map" class="col s12">
    <%- include('map', { pois: content.pois, color: 'red' }); %>
  </div>
  <!-- end Map -->

  <%- include('footer') %>
  
  <!-- Modal with details -->
  <% content.pois.forEach(function(poi) { %>
    <%- include('modaldetail', { poi: poi }); %>
  <% }); %>
  <!-- End Modal -->

  <!-- About Modal -->
  <%- include('about', { content: content, meta: meta }) %>
  <%- include('modalinit', { meta: meta }) %>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/public/js/materialize.min.js"></script>
  <script src="/public/js/geolib.js"></script>  
  <script src="/public/js/init.js"></script>

  <script>
    // array of poi identifiers in the global variable
    var identifiers = [];
    var modalToOpenAtInit = null; 
    
    <% content.pois.forEach(function(poi) { %>
      identifiers.push('<%= poi.id %>');
      <% if (poi.id === identifier) { %>
        modalToOpenAtInit = '<%= identifier %>';
      <% } %>
    <% }); %>
  </script>

  </body>
</html>
