<div id="modal_<%= poi.id %>" class="modal-detail modal modal-fixed-footer">
    <div class="modal-content valign-wrapper">
      <div class="card card-detail">
        <div class="card-image waves-effect waves-block waves-light">
          <% if (poi.images.length > 0) { %>
            <img src="<%= poi.images[0] %>" alt="<%= poi.name %>">
          <% } else { %>
            <img src="/public/images/placeholder.jpg" alt="<%= poi.name %>">
          <% } %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 truncate"><%= poi.name %><i class="material-icons right">more_vert</i></span>
          <p class="card-distance"><span class="card-distance-value" data-lat="<%= poi.lat %>" data-lon="<%= poi.lon %>" id="card_distance_<%= poi.id %>">&nbsp;</span><%= i18n.t('cards.distance') %></p>
          <p><%= poi.description %></p>
          <p class="grey-text text-darken-3"><%= poi.more %> </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= poi.name %><i class="material-icons right">close</i></span>
          <p><%= poi.description %></p>
          <p class="grey-text text-darken-3"><%= poi.more %> </p>
          <% if (poi.urls) { %>
            <% poi.urls.forEach(function(url) { %>
              <p><a href="<%= url %>" target="_blank"><%= url %></a></p>
            <% }) %>                  
          <% } %>                  
        </div>
      </div>  
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><%= i18n.t('details.close') %></a>
    </div>
  </div>